// Global parameters
params {
    dataset  = "/dataset"                                      // Directory containing the dataset files
    script   = "/script"                                       // Directory containing the custom scripts
    results  = "results"                                       // Directory for output results
    prefix   = "100000_variants_10000_samples_5_chromosomes"   // Sample name for analysis (prefix for input files)
                                                               // in 'dataset' folder
    ethnic   = "/dataset/samples.txt"                          // File containing sample ethnic information
    pheno    = "/dataset/phenotype_10000_samples_100cols.txt"  // File containing phenotypic data

}

// Enable Docker
docker {
    enabled = true
}

// Process-specific configurations
process {
    container           = 'temus'
    containerOptions    = "-v ${projectDir}/dataset:/dataset -v ${projectDir}/script:/script --rm"
    errorStrategy       = 'retry'
    maxRetries          = 3
    time                = { 1.m * task.attempt }

    withName: 'MISSINGQC' {
        publishDir = [
            path: { "$params.results/$params.prefix" },
            pattern: "*.{bed,bim,fam}"
        ]
        ext {
            relaxed_thres   = 0.2   // Relaxed threshold for filtering high missingness SNP/sample entries
            stringent_thres = 0.02  // Stringent threshold for filtering high missingness SNP/sample entries
        }
    }

    withName: 'PLOTMISSING' {
        publishDir = [
            path: { "$params.results/$params.prefix" },
            pattern: "*.png"
        ]
        ext {
            outfile = "missing_plot.png"  // Output filename for the plot
        }
    }

    withName: 'COMMONVARIANT' {
        publishDir = [
            path: { "$params.results/$params.prefix/gwas_output" },
            pattern: "*.{png,csv}"
        ]
        ext {
            pval   = 0.00002    // P-value threshold for identifying common variants
            weird  = "True"  // Default False, enabled specially for this case study
        }
    }

}


